{% extends "Base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            {% for a in name %}
            <h4><a class="article-title" > Hi {{ name.name }}, here is your to-do list :</a></h4>

              </div>
        </article>
    {% endfor %}
    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.inCharge }}</a>
              <small class="text-muted">{{ task.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ task.endTime|date:"F d, Y" }}</small>
            </div>
            <h4><a class="article-title" href="/Devlop/{{ task.id }}/">{{ task.TaskName }}</a></h4>
            <p class="article-content">{{ task.Description }}</p>
              <div class="progress">
            <div class="progress-bar" role="progressbar"  aria-valuemin="1" aria-valuemax="100" aria-valuenow={{task.workDone}}>{{task.workDone}}%</div>
              </div>
              </div>
        </article>
    {% endfor %}
{% endblock content %}