{% extends "Base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <h4>{{ p.ProjectName }}</h4>
               <a class="text-muted">{{ p.startTime|date:"F d, Y" }}</a>
                <a class="text-muted"> - </a>
              <a class="text-muted">{{ p.endTime|date:"F d, Y" }}</a>
            <p class="article-content">{{ p.Description }}</p>
            <p><a class="mr-2" >Project Budget - {{ p.Budget }} ₪ </a></p>
            <p><a class="mr-2" >Project Current Budget Schedule - {{ p.currentBudgeSchedule }} ₪ </a></p>
            <p><a class="mr-2" >Project Money Spends  - {{ p.MoneySpends }} ₪ </a></p>
            <p><a class="mr-2" >Tasks Done :</a></p>
               <p>  <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:{{p.count}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
             </div></p>
 <a href="{% url 'project-update' p.pk  %}">Update Project</a><p></p>
 <a href="{% url 'project-delete' p.pk  %}">Delete Project</a>

              </div>
        </article>
{#    -------------------------------------------------------------#}
          <h4><center>Sprints</center></h4>

        {% for sprint in sprints %}

        <article class="media content-section">
          <div class="media-body">
            <h4><a class="article-title" href=" {% url 'manager_views_sprints' sprint.id %}">{{ sprint.SprintName }}</a></h4>
               <a class="text-muted">{{ sprint.StartTime|date:"F d, Y" }}</a>
                <a class="text-muted"> - </a>
              <a class="text-muted">{{ sprint.endTime|date:"F d, Y" }}</a>
{#            <p class="article-content">{{ sprint.Description }}</p>#}
{#            <p><a class="mr-2" >Project Budget - {{ p.Budget }} ₪ </a></p>#}
{#            <p><a class="mr-2" >Project Current Budget Schedule - {{ p.currentBudgeSchedule }} ₪ </a></p>#}
{#            <p><a class="mr-2" >Project Money Spends  - {{ p.MoneySpends }} ₪ </a></p>#}
              </div>
        </article>
    {% endfor %}
    <article class="media content-section">
            <a href="{% url 'sprint-create' p.pk %}">sprint-create</a>
    </article>
    {#    -------------------------------------------------------------#}
{#    -------------------------------------------------------------#}

          <h4><center>Tasks</center></h4>
        {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.inCharge }}</a>
              <small class="text-muted">{{ task.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ task.endTime|date:"F d, Y" }}</small>
            </div>
            <h4><a class="article-title" href="{% url 'manager_task_view' task.id %}">{{ task.TaskName }}</a></h4>
              <p class="article-content">{{ task.Description }}</p>
              <p><div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: {{task.workDone}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div></p>
              <p>
            </div>
          </p>
        </article>
    {% endfor %}
{#{% for task in tasks %}#}
{#        <article class="media content-section">#}
{#          <div class="media-body">#}
{#            <div class="article-metadata">#}
{#              <a class="mr-2" href="#">{{ task.inCharge }}</a>#}
{#              <small class="text-muted">{{ task.startTime|date:"F d, Y" }}</small>#}
{#                <small class="text-muted"> - </small>#}
{#              <small class="text-muted">{{ task.endTime|date:"F d, Y" }}</small>#}
{#            </div>#}
{#            <h4><a class="article-title" href="">{{ task.TaskName }}</a></h4>#}
{#            <p class="article-content">{{ task.Description }}</p>#}
{#              <div class="progress">#}
{#            <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: {{task.workDone}}%">{{task.workDone}}%</div>#}
{#              </div>#}
{#              <p>#}
{#                <form action="{% url 'work_done' task.id %}" method="POST">#}
{#                    {% csrf_token %}#}
{#                       <div class="fieldWrapper">#}
{#                             {{form}}#}
{#                        </div>#}
{#                     <input type="submit" name="Submit">#}
{#                 </form>#}
{#                </div>#}
{#              </p>#}
{#        </article>#}
{#    {% endfor %}#}

{#    -------------------------------------------------------------#}




        <article class="media content-section">
            <a href="{% url 'task-create' p.pk route %}">task create</a>
    </article>
{% endblock content %}


