{% extends "Base.html" %}
{% block content %}

        <h4>{{ route }}</h4>
        <article class="media content-section">
          <div class="media-body">
            <h4>{{ sprint.SprintName }}</h4>
               <a class="text-muted">{{ sprint.StartTime|date:"F d, Y" }}</a>
                <a class="text-muted"> - </a>
              <a class="text-muted">{{ sprint.endTime|date:"F d, Y" }}</a>
            <p class="article-content">{{ sprint.Descripion }}</p>
            <p><a class="mr-2" >Sprint Cost - {{ sprint.cost }} ₪ </a></p>
            <p><a class="mr-2" >Project Number  - {{ sprint.projectnum }} ₪ </a></p>
              <div class="article-metadata">
                <a href="{% url 'sprint-update' sprint.pk %}">sprint update</a>
                    <small class="text-muted"> <p></p> </small>
                <a href="{% url 'sprint-delete'  sprint.projectnum.id sprint.pk %}">sprint delete</a>
            </div>
          </div>
        </article>
{#    -------------------------------------------------------------#}
<h4><center>Tasks</center></h4>
    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.TaskId.inCharge }}</a>
              <small class="text-muted">{{ task.TaskId.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ task.TaskId.endTime|date:"F d, Y" }}</small>
            </div>
            <h4><a class="article-title" href="{% url 'manager_task_view' task.TaskId.id %}">{{ task.TaskId.TaskName }}</a></h4>
              <p>
                <article class="media content-section">
                        <a href="{% url 'sprint_task-delete' task.pk sprint.pk task.TaskId.id  %}">remove task from sprint</a>
                </article>
                </div>
              </p>
        </article>
    {% endfor %}


</article>
{#    -------------------------------------------------------------#}



{#    <article class="media content-section">#}
{#            <a href="{% url 'sprint-create' %}">sprint-create</a>#}
{#    </article>#}

    <article class="media content-section">
            <a href="{% url 'sprint_task-create' sprint.pk p %}">sprint task create</a>
    </article>
{#    <article class="media content-section">#}
{#            <a href="{% url 'task-create'  p route%}">task create</a>#}
{#    </article>#}

{#    <article class="media content-section">#}
{#            <a href="{% url 'comment-create' %}">comment-create</a>#}
{#    </article>#}
{#            <article class="media content-section">#}
{#            <a href="{% url 'project-create' %}">project-create</a>#}
{#    </article>#}

{% endblock content %}