{% extends "Base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            {% for a in name %}
            <h4><a class="article-title" > Hi {{ name.name }}, here is your to-do list :</a></h4>

              </div>
        </article>
    {% endfor %}
    {% for p in projects %}

        <article class="media content-section">
          <div class="media-body">
            <h4><a class="article-title" href="#">{{ p.ProjectName }}</a></h4>
               <a class="text-muted">{{ p.startTime|date:"F d, Y" }}</a>
                <a class="text-muted"> - </a>
              <a class="text-muted">{{ p.endTime|date:"F d, Y" }}</a>
            <p class="article-content">{{ p.Description }}</p>
            <p><a class="mr-2" >Project Budget - {{ p.Budget }} ₪ </a></p>
            <p><a class="mr-2" >Project Current Budget Schedule - {{ p.currentBudgeSchedule }} ₪ </a></p>
            <p><a class="mr-2" >Project Money Spends  - {{ p.p.MoneySpends }} ₪ </a></p>
              </div>
        </article>
    {% endfor %}

{#    <article class="media content-section">#}
{#            <a href="{% url 'sprint-create' %}">sprint-create</a>#}
{#    </article>#}
{#        <article class="media content-section">#}
{#            <a href="{% url 'task-create' %}">task-create</a>#}
{#    </article>#}
{#        <article class="media content-section">#}
{#            <a href="{% url 'comment-create' %}">comment-create</a>#}
{#    </article>#}
{#            <article class="media content-section">#}
{#            <a href="{% url 'project-create' %}">project-create</a>#}
{#    </article>#}

{% endblock content %}

