{% extends "Base.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            <h4>{{ task.TaskName }}</h4>
               <a class="text-muted">{{ task.startTime|date:"F d, Y" }}</a>
                <a class="text-muted"> - </a>
              <a class="text-muted">{{ task.endTime|date:"F d, Y" }}</a>
              <p></p><small class="text-muted">last update : {{ task.lastUpdate|date:"F d, Y" }}</small></p>
               <p></p><small class="text-muted">cost : {{ task.cost}}</small></p>
            <p class="article-content">{{ task.Description }}</p>
            <div class="article-metadata">
              <a href="{% url 'task-update' task.pk %}">task update</a>
                    <small class="text-muted"> <p></p> </small>
              <a href="{% url 'task-delete' route r_id task.pk   %}">task delete</a>
            </div>
          </div>
        </article>


    {% for sub_task in sub_tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ sub_task.encharge }}</a>
              <small class="text-muted">{{ sub_task.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ sub_task.endTime|date:"F d, Y" }}</small>
            </div>
              <h5><a class="article-title" href="{% url 'manager_subtask_view' sub_task.id %}">{{ sub_task.TaskName }}</a></h5>
            <p class="article-content">{{ sub_task.Description }}</p>
              <div class="progress">
            <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: {{task.workDone}}%">{{task.workDone}}%</div>
              </div>
              </div>
        </article>
    {% endfor %}
     <a href="{% url 'subtask-create' task.id %}">sub task create</a>
{% endblock content %}















