{% extends "Base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">

            <h4><a class="article-title" ><center>Welcome to the Project Manegment System </center></a></h4>

              </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">Manegment System is an agile project management software used by development teams to plan, track, and release software. It is a popular tool designed specifically and used by agile teams. Aside from creating stories, planning sprints, tracking issues, and shipping up-to-date software, users also generate reports that help improve teams, and create their own workflows.</p>

              </div>
        </article>

{% endblock content %}