{% extends "Base.html" %}
{% block content %}

    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.encharge }}</a>
              <small class="text-muted">{{ task.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ task.endTime|date:"F d, Y" }}</small>
            </div>
            <h5><a class="article-title" href="#">{{ task.TaskName }}</a></h5>
            <p class="article-content">{{ task.Description }}</p>
              <div class="progress">
            <div class="progress-bar" role="progressbar"  aria-valuemin="1" aria-valuemax="100" aria-valuenow={{task.workDone}}>{{task.workDone}}%</div>
              </div>
              </div>
        </article>
    {% endfor %}

    {% for task in t %}
        <article class="media content-section">
          <div class="media-body">

            <h4><a class="article-title" href="#">{{ task.user }}</a></h4>
              <p></p><small class="text-muted">Send : {{ task.created|date:"F d, Y" }}</small></p>
            <p class="article-content">{{ task.body }}</p>

              </div>
             <a href="{% url 'comment-update' task.pk %}">Update Comment</a>
        </article>
    {% endfor %}
    <a href="{% url 'comment-create' %}">Leave Comment</a>

{% endblock content %}