{% extends "Base.html" %}
{% block content %}
    {% for task in t %}
        <article class="media content-section">
          <div class="media-body">

            <h4><a class="article-title" href="#">{{ task.TaskName }}</a></h4>
               <a class="text-muted">{{ task.startTime|date:"F d, Y" }}</a>
                <a class="text-muted"> - </a>
              <a class="text-muted">{{ task.endTime|date:"F d, Y" }}</a>
              <p></p><small class="text-muted">last update : {{ task.lastUpdate|date:"F d, Y" }}</small></p>
               <p></p><small class="text-muted">cost : {{ task.cost}}</small></p>
            <p class="article-content">{{ task.Description }}</p>

              </div>
        </article>
    {% endfor %}

    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.encharge }}</a>
              <small class="text-muted">{{ task.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ task.endTime|date:"F d, Y" }}</small>
            </div>
            <h5><a class="article-title" href="/Devlop/{{  task.TaskID.id}}/{{ task.id }}/">{{ task.TaskName }}</a></h5>
            <p class="article-content">{{ task.Description }}</p>
              <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: {{task.workDone}}%">{{task.workDone}}%</div>

              </div>
              </div>
        </article>
    {% endfor %}
{% endblock content %}