{% extends "Base.html" %}
{% block content %}


        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.encharge }}</a>
              <small class="text-muted">{{ task.startTime|date:"F d, Y" }}</small>
                <small class="text-muted"> - </small>
              <small class="text-muted">{{ task.endTime|date:"F d, Y" }}</small>
            </div>
            <h5><a class="article-title" href="#">{{ task.TaskName }}</a></h5>
            <p class="article-content">{{ task.Description }}</p>

                      <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: {{task.workDone}}%">{{task.workDone}}%</div>
              </div>
        </article>


    {% for comment in comments %}
        <article class="media content-section">
          <div class="media-body">

            <h4><a class="article-title" href="#">{{ comment.user }}</a></h4>
              <p></p><small class="text-muted">Send : {{ comment.created|date:"F d, Y" }}</small></p>
            <p class="article-content">{{ comment.body }}</p>

              </div>
             <a href="{% url 'comment-update' comment.pk %}">Update Comment</a>
        </article>
    {% endfor %}
    <a href="{% url 'comment-create' task.pk %}">Leave Comment</a>

{% endblock content %}