<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>task view</title>
    <h1>Tasks</h1>
</head>
<body>
    <form action="http://127.0.0.1:8000/sort_date/" method="GET">
        <input type="submit" value="sort by date">
    </form>
    <form action="http://127.0.0.1:8000/sort_done/" method="GET">
        <input type="submit" value="sort by done">
    </form>
    <ul>
        {% for t in tasks %}
            <ul>
                <li>{{ t.startTime }}</li>
    <form action={{ t.get_absoulte_url}}>" method="GET">
        <input type="submit" value="sort by date">
    </form>
{#                <li>{{ t.startTime }}</li>#}
{#                <li>{{ t.endTime }}</li>#}
{#                <li>{{ t.inCharge }}</li>#}
{#                <li>{{ t.workDone }}</li>#}
{#                <li>{{ t.lastUpdate }}</li>#}
{#                <li>{{ t.cost }}</li>#}
{#                <li>{{ t.subTasks }}</li>#}
                <li>{{ t.inCharge }}</li>
                <li>{{ t.workDone }}</li>
                <li>{{ t.lastUpdate }}</li>
                <li>{{ t.cost }}</li>
                <li>{{ t.subTasks }}</li>
                <li>{{ t.TaskName }}</li>
                <li>{{ t.Description }}</li>
            </ul>
             <h1>---------------</h1>
        {% endfor %}
    </ul>
</body>
</html>